body {
  padding: 0;
  margin: 0;
  background-color:#ebebeb;
   font-family: Arial, Helvetica, sans-serif;

}

.hamburger{
  position: fixed;
  left: 1%;
  bottom: 95%;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0;
  background-color: #ebd834;
  background-color: #266fff;
  opacity: 80%;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  margin-top: 0px;
  margin-left: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #85fa00;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
color: #85fa00;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.titleTxt{
  /* background-color: white; */
  padding-top: 1rem;
   font-family: Arial, Helvetica, sans-serif;
  padding-bottom: rem;
  text-align: justify;
}


.green {
    color: #1957ff;
}

.titleBig{
 font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  width: 80%;
 padding: 0 auto;
 text-align: justify;
  display: inline-block;
  hyphens: none;

}

.bodyTxt {
  padding-top: 0rem;
 font-family: Arial, Helvetica, sans-serif;
  text-indent: 10%;
}

.selfQuote{
  padding-top: 0rem;
  font-size: 1.00rem;
  line-height: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  font-style: italic;
}

.selfQuote1{
  padding-top: 0rem;
  font-size: 0.80rem;
  line-height: 1rem;
  margin-left: 1rem;
  font-weight: bold;

}


img{

  border-radius: 12px;
}

.chapterName {
  text-shadow: 0px 0px gray;
  width: 100;
  margin: 0 auto;
  padding: 0 auto;
  text-align:center;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.25em;
  color: #1255;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  transition: 5s;
  hyphens: auto;
  font-style: bold;

}

.noname{
  text-shadow: 0px 0px gray;
  width: 100;
  margin: 0 auto;
  padding: 0 auto;
  text-align:left;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.25em;
  color: #1255;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0%;
  transition: 5s;
  hyphens: auto;



}

a {
  color: #1255;
}

a.absent{

  color: red;
}

.arrow {
  width: 100;

  margin: 0 auto;
  padding: 0 auto;
  text-align:center;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.25em;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
hyphens: auto;

text-decoration: none;

}

.figRef{
  width: 100;
  margin: 0 auto;
  padding: 0 auto;
  text-align:left;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.25em;
  color: #1255;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2.5%;
  transition: 5s;
  hyphens: auto;



}

.figRefSpin{
  width: 100;
  margin: 0 auto;
  padding: 0 auto;
  text-align:left;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
  line-height: 1.25em;
  color: #1255;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
  transition: 5s;
  hyphens: auto;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 20s linear infinite;

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



}
