body {
  padding: 0;
  margin: 0;
  background-color:orange;

}

.mose01{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;

background-image: url(img/02.png);
background-size: cover;
}
