body {
  padding: 0;
  margin: 0;
  background-color:white;

}




.layer0{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/bg.png);
background-size: cover;


}

.layer01{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid green;
position: absolute;
background-image: url(img/layer01.png);
background-size: cover;
transition: 5s;
}



.layer02{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer02.png);
background-size: cover;

}
.layer03{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer03.png);
background-size: cover;
}
.layer04{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer04.png);
background-size: cover;
transition: 4s;
}


.layer05{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer05.png);
background-size: cover;


}
.layer06{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer06.png);
background-size: cover;
}



#breathing-button {

    width: 360px;
    height: 780px;
    padding: 20px;
    position: relative;
    background-image: url(img/leaf04.png);
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
