body {
  padding: 0;
  margin: 0;
  background-color:black;
}

.layer0{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer0.png);
background-size: cover;


}

.layer01{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid green;
position: absolute;
background-image: url(img/layer01.png);
background-size: cover;

}
.layer02{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer02.png);
background-size: cover;
}
.layer03{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer03.png);
background-size: cover;
}
.layer04{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer04.png);
background-size: cover;
}
.layer05{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer05.png);
background-size: cover;

}
.layer06{
width: 360px;
height: 780px;
padding: 20px;
margin: 0px auto;
box-shadow: 0px 0px 0px 0px grey;
border: 0px solid red;
position: absolute;
background-image: url(img/layer06.png);
background-size: cover;
}
